<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="igniteConfiguration" type="Apache.Ignite.Core.IgniteConfigurationSection, Apache.Ignite.Core"/>
    </configSections>
    <runtime>
        <gcServer enabled="false"/>
    </runtime>
    <igniteConfiguration xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection" gridName="content">
    <cacheConfiguration>
        <cacheConfiguration cacheMode="Replicated" readThrough="true" writeThrough="true"/>
        <cacheConfiguration startSize="104857600"/>
        <cacheConfiguration cacheMode="Partitioned" backups="0"/>
        <cacheConfiguration offHeapMaxMemory="0"/>
        <cacheConfiguration enableSwap="false"/>
        <cacheConfiguration rebalanceBatchSize="1048576" rebalanceThrottle="0:0:0"/>
    </cacheConfiguration>
    <includedEventTypes>
        <int>TaskStarted</int>
        <int>TaskFinished</int>
        <int>TaskFailed</int>
    </includedEventTypes>
</igniteConfiguration>
</configuration>
